h1 {
  text-decoration: underline;
  color: rgb(182, 65, 65);
  text-align: center;
}

body {
  background-color: pink;
  font-family: Verdana, Genava, Tahoma, sans-serif;
}

img {
  display: flex;
  justify-content: center;
  border: 2px solid;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(142, 142, 202);
  border-radius: 10px;
  padding: 15px;
}

.current {
  color: blue;
}

.unused {
  color: purple;
}

button:hover {
  transform: scale(1.5);
  z-index: 102;
  transitio: 0.5s;
  color: rgb(241, 15, 53);
}
